{{#if logged_in}}
<h1>Community Posts</h1>
<div class="homepage-container">
  <div id="community-posts-container" class="community-posts">
    {{#each posts as |post|}}
    <div class="community-post">
      <div class="community-image">
        <img src="{{post.img}}" alt="animal-image" />
      </div>
      <div class="community-info">
        <h2>{{post.title}}</h2>
        <div class="creator-details">
          <img class="randomImage" />
          <h3>Created By: <span>{{post.user.username}}</span> on {{format_date post.created_on}}</h3>
        </div>
        <p>{{post.description}}</p>
        <a href="/post/{{post.id}}">
          <button class="main-button">
            <span>View</span>
            <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
              <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
            </svg>
          </button>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var posts = document.querySelectorAll('.community-post');

  var observer = new IntersectionObserver(function(entries, observer) {
    entries.forEach(function(entry) {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        observer.unobserve(entry.target);
      }
    });
  }, {
    threshold: 0.1
  });

  posts.forEach(function(post) {
    observer.observe(post);
  });
});
</script>
  {{!-- <aside class="featured-post">
    <h2>Featured Posts</h2>
  <div class="featured-details">
    <img src="{{posts.5.img}}" alt="sample" />
    <div class="featured-date">
    <a href="/post/6"><h3>{{posts.5.title}}</h3></a>
    <div style="display: flex; justify-content: flex-end;">
  <h3>{{format_date posts.5.created_on}}</h3>
  </div>
    </div>
    </div>
  <div class="featured-details">
    <img src="{{posts.6.img}}" alt="sample" />
    <div class="featured-date">
    <a href="/post/7"><h3>{{posts.6.title}}</h3></a>
    <div style="display: flex; justify-content: flex-end;">
  <h3>{{format_date posts.6.created_on}}</h3>
  </div>
    </div>
    </div>
  </aside> --}}
</div>
  {{!-- <div class="add-section">
    <button class="add-post"><a href="/post">+</a></button>
  </div> --}}

  
      {{!-- <footer>
      <ul class="example-2">
  <li class="icon-content">
<a href="https://github.com" aria-label="Github" data-social="github">
  <div class="filled"></div>
  <img src="../../public/images/icons/github.svg" alt="GitHub Logo" width="16" height="16">
</a>

    <div class="tooltip">Github</div>
  </li>
  <li class="icon-content">
    <a
      href="https://store.steampowered.com/"
      aria-label="Steam"
      data-social="steam"
    >
      <div class="filled"></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-steam"
        viewBox="0 0 16 16"
      >
        <path
          d="M.329 10.333A8.01 8.01 0 0 0 7.99 16C12.414 16 16 12.418 16 8s-3.586-8-8.009-8A8.006 8.006 0 0 0 0 7.468l.003.006 4.304 1.769A2.2 2.2 0 0 1 5.62 8.88l1.96-2.844-.001-.04a3.046 3.046 0 0 1 3.042-3.043 3.046 3.046 0 0 1 3.042 3.043 3.047 3.047 0 0 1-3.111 3.044l-2.804 2a2.223 2.223 0 0 1-3.075 2.11 2.22 2.22 0 0 1-1.312-1.568L.33 10.333Z"
        ></path>
        <path
          d="M4.868 12.683a1.715 1.715 0 0 0 1.318-3.165 1.7 1.7 0 0 0-1.263-.02l1.023.424a1.261 1.261 0 1 1-.97 2.33l-.99-.41a1.7 1.7 0 0 0 .882.84Zm3.726-6.687a2.03 2.03 0 0 0 2.027 2.029 2.03 2.03 0 0 0 2.027-2.029 2.03 2.03 0 0 0-2.027-2.027 2.03 2.03 0 0 0-2.027 2.027m2.03-1.527a1.524 1.524 0 1 1-.002 3.048 1.524 1.524 0 0 1 .002-3.048"
        ></path>
      </svg>
    </a>
    <div class="tooltip">Steam</div>
  </li>
  <li class="icon-content">
    <a
      href="https://www.instagram.com/"
      aria-label="Instagram"
      data-social="instagram"
    >
      <div class="filled"></div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-instagram"
        viewBox="0 0 16 16"
        xml:space="preserve"
      >
        <path
          d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
          fill="currentColor"
        ></path>
      </svg>
    </a>
    <div class="tooltip">Instagram</div>
  </li>
</ul>
    </footer> --}}
{{/if}}

<script>
  var imageList = [ "../images/icons/sea-turtle.gif", "../images/icons/beagle.gif",
  "../images/icons/bird.gif","../images/icons/shrimp.gif",
"../images/icons/fish.gif" ]; var imgElements =
  document.querySelectorAll(".randomImage");
  imgElements.forEach(function(imgElement) { var randomIndex =
  Math.floor(Math.random() * imageList.length); imgElement.src =
  imageList[randomIndex]; });
</script>
<script src="script.js"></script>