<link rel="stylesheet" href="css/profile.css">
{{#if logged_in}}
<div class="single-post">
  <div class="container card is-fluid color column is-half mb-5">
    <div class="card-image">
      <figure class="image">
        <img class="post-image" src="{{ post.img }}" alt="placeholder image">
      </figure>
      {{#if hasLiked}}
            <button class="button disabled is-success like-btn" id="thisOne" attribute="disabled: true;" likes-id="{{ post.id }}" data-user="{{ userId }}"
        tally-id="{{post.tally}}" style="margin-top: 5px; float: right;">
        <a aria-label="like" class="disabled">
          <span class="icon is-small disabled" id="thisOne" likes-id="{{ post.id }}" data-user="{{ userId }}" tally-id="{{post.tally}}">
            <i class="fas fa-heart disabled" id="thisOne" likes-id="{{ post.id }}" data-user="{{ userId }}" tally-id="{{post.tally}}"
              aria-hidden="true"></i>
          </span>
        </a>
      </button>
      {{!-- <button class="" id="thisOne" likes-id="{{ post.id }}" data-user="{{ userId }}" onclick="playGif(this)">
        <img class="heart-icon" src="../images/icons/heart.png" alt="heart-icon" /> --}}
      {{else}}
              <button class="button is-success like-btn" id="thisOne" likes-id="{{ post.id }}" data-user="{{ userId }}"
        tally-id="{{post.tally}}" style="margin-top: 5px; float: right;">
        <a aria-label="like">
          <span class="icon is-small" id="thisOne" likes-id="{{ post.id }}" data-user="{{ userId }}" tally-id="{{post.tally}}">
            <i class="fas fa-heart" id="thisOne" likes-id="{{ post.id }}" data-user="{{ userId }}" tally-id="{{post.tally}}"
              aria-hidden="true"></i>
          </span>
        </a></button>
      {{/if}}
    </div>
    <div class="card-content">
      <div class="">
          <h2>{{ post.title }}</h2>
          <h3>Created by: <span>{{ post.user.username }}</span> on {{ format_date
            post.created_on}}
          </h3>
      </div>
      <h3>Description:</h3>
              <p>
                {{ post.description }}
              </p>
      <h3>Comments:</h3>
      {{#each post.comments as |comment|}}
      {{#if comment.isYours}}
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment.user.username }}</strong><small> {{ format_date comment.createdAt }} </small>
                <button class="delete is-small" del-id="{{ comment.id }}" style="float:right;"> 
                  <img del-id="{{ comment.id }}" class="heart-icon" src="../images/icons/close.png" alt="heart-icon" />
                  </button>
                <br>
                {{ comment.description }}
              </p>
            </div>
          </div>
        </article>
      </div>
      {{else}}
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ comment.user.username }}</strong><small> {{ format_date comment.createdAt }} </small>
                <br>
                {{ comment.description }}
              </p>
            </div>
          </div>
        </article>
      </div>
      {{/if}}
      {{/each}}
      <footer class="card-footer is-justify-content-center">
        <input class="card-footer-item input is-info" id="cmt-val" type="text" placeholder="Add a Comment">
        <button class="card-footer-item button is-info" id="add-cmt" route-id="{{ post.id }}"
          data-id="{{ user.id }}">Add Comment</button>
      </footer>
    </div>
  </div>


  {{else}}
  <a href="/login">You must login first to view this page</a>
  {{/if}}


</div>
{{!-- </div> --}}
<script src="/js/comment.js"></script>
    <script>
        function playGif(button) {
            var img = button.querySelector('.heart-icon');
            img.src = '../images/icons/heart-animated.gif'; // Path to your GIF file

            // Optionally, revert back to the static image after the GIF plays
            setTimeout(function() {
                img.src = '../images/icons/heart-clicked.png'; // Path to your static image
            }, 400);
        }
    </script>